{% extends "base.html" %}
{% block content %}
<h3>Users (Admin Only)</h3>

<p><a href="{{ url_for('user_add') }}">+ Add New User</a></p>

<table>
  <tr>
    <th>ID</th>
    <th>Full Name</th>
    <th>Username</th>
    <th>Role</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

  {% for u in users %}
  <tr>
    <td>{{ u.id }}</td>
    <td>{{ u.full_name }}</td>
    <td>{{ u.username }}</td>
    <td>{{ u.role }}</td>
    <td>{{ "Active" if u.is_active==1 else "Inactive" }}</td>
    <td>
      <a href="{{ url_for('user_edit', user_id=u.id) }}">Edit</a>
      |
      <form action="{{ url_for('user_delete', user_id=u.id) }}" method="post" style="display:inline;">
        <button type="submit" onclick="return confirm('Delete this user?')">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}